<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload-location</param-name>
        <param-value>
         D:\core java project\New folder\Httml\BookShopAndRent\web\images     </param-value>
    </context-param>
    <servlet>
        <servlet-name>logInValidation</servlet-name>
        <servlet-class>com.core.servlets.logInValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemLogIn</servlet-name>
        <servlet-class>com.core.servlets.SystemLogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemLogOut</servlet-name>
        <servlet-class>com.core.servlets.SystemLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServ</servlet-name>
        <servlet-class>com.core.servlets.RegistrationServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sellerBookUpload</servlet-name>
        <servlet-class>com.core.servlets.sellerBookUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCards</servlet-name>
        <servlet-class>com.core.servlets.ShoppingCards</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.core.servlets.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageWriter</servlet-name>
        <servlet-class>com.core.servlets.ImageWriter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationValidation</servlet-name>
        <servlet-class>com.core.servlets.UserRegistrationValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a</servlet-name>
        <servlet-class>a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationVal</servlet-name>
        <servlet-class>com.core.servlets.RegistrationVal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>com.core.servlets.UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserDetail</servlet-name>
        <servlet-class>com.core.servlets.GetUserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserPersonalInfo</servlet-name>
        <servlet-class>com.core.servlets.GetUserPersonalInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserAddresses</servlet-name>
        <servlet-class>com.core.servlets.GetUserAddresses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllBook</servlet-name>
        <servlet-class>com.core.servlets.AllBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSelectedBook</servlet-name>
        <servlet-class>com.core.servlets.GetSelectedBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogInStatus</servlet-name>
        <servlet-class>com.core.servlets.UserLogInStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShippingAddress</servlet-name>
        <servlet-class>com.core.servlets.GetShippingAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePersonalInfo</servlet-name>
        <servlet-class>com.core.servlets.UpdatePersonalInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeOrder</servlet-name>
        <servlet-class>com.core.servlets.MakeOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePayment</servlet-name>
        <servlet-class>com.core.servlets.MakePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>com.core.servlets.admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logInValidation</servlet-name>
        <url-pattern>/logInValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemLogIn</servlet-name>
        <url-pattern>/SystemLogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemLogOut</servlet-name>
        <url-pattern>/SystemLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServ</servlet-name>
        <url-pattern>/RegistrationServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sellerBookUpload</servlet-name>
        <url-pattern>/sellerBookUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCards</servlet-name>
        <url-pattern>/ShoppingCards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageWriter</servlet-name>
        <url-pattern>/ImageWriter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationValidation</servlet-name>
        <url-pattern>/UserRegistrationValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationVal</servlet-name>
        <url-pattern>/RegistrationVal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserDetail</servlet-name>
        <url-pattern>/GetUserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserPersonalInfo</servlet-name>
        <url-pattern>/GetUserPersonalInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserAddresses</servlet-name>
        <url-pattern>/GetUserAddresses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllBook</servlet-name>
        <url-pattern>/AllBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSelectedBook</servlet-name>
        <url-pattern>/GetSelectedBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogInStatus</servlet-name>
        <url-pattern>/UserLogInStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShippingAddress</servlet-name>
        <url-pattern>/GetShippingAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePersonalInfo</servlet-name>
        <url-pattern>/UpdatePersonalInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeOrder</servlet-name>
        <url-pattern>/MakeOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment</servlet-name>
        <url-pattern>/MakePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
